//Colors
@primary: #5f7ff8;
@secondary: #ff8686;
/*
@primary: #88d4e5;
@primaryDark: #1c8fa9;
@secondaryLight: #fff5ee;
@secondary: #f9ac7d;
@secondaryDark: #c78a64;
*/
@grayLight: #f8f8f8;
@gray: #efefef;
@danger: #f0506e;
@dangerBg: #fef4f6;
//Fonts
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 300;
  src: url("../font/IBMPlexSans-UltraLight.woff") format("woff");
}
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 400;
  src: url("../font/IBMPlexSans-Light.woff") format("woff");
}
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 500;
  src: url("../font/IBMPlexSans-Medium.woff") format("woff");
}
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 700;
  src: url("../font/IBMPlexSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'YekanBakh';
  font-style: normal;
  font-weight: 300;
  src: url("../font/YekanBakh-Regular.woff") format("woff");
}
@font-face {
  font-family: 'YekanBakh';
  font-style: normal;
  font-weight: 500;
  src: url("../font/YekanBakh-Medium.woff") format("woff");
}
@font-face {
  font-family: 'YekanBakh';
  font-style: normal;
  font-weight: 700;
  src: url("../font/YekanBakh-Bold.woff") format("woff");
}
.font{
  font-family: "YekanBakh", sans-serif;
}
.fontEN{
  font-family: "IBMPlexSans", sans-serif;
}
.uk-text-medium{
  font-weight: 500;
}
//Mixins
.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.transition (@transition: all .3s ease-out) {
  transition: @transition;
  -moz-transition: @transition;
  -webkit-transition: @transition;
}
.transform (@transform) {
  transform: @transform;
  -moz-transform: @transform;
  -webkit-transform: @transform;
}
.box-shadow (@shadow) {
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}
//Utilities
.uk-line-height-zero{line-height: 0;}
.uk-text-zero{font-size: 0;}
.uk-text-tiny{font-size: 12px;}
.ltr{direction: ltr;}
.uk-text-white{color: #fff;}
.uk-text-dark{color: #222;}
.uk-text-primary{color: @primary !important;}
.uk-text-secondary{color: @secondary !important;}
.hoverPrimary{&:hover{color: @primary !important;}}
.hoverSecondary{&:hover{color: @secondary !important;}}
header{
  div{
    &.topBar{
      background-color: @primary;
      ul{
        &.socials{
          li{
            a{
              width: 40px;
              height: 40px;
              color: #fff;
              &:hover{
                background-color: @secondary;
              }
            }
          }
        }
      }
    }
    &.mainMenu{
      ul{
        list-style: none;
        li{
          a{
            font-size: 16px;
            font-weight: 700;
            color: @primary;
            text-decoration: none;
            .font;
            &:hover{
              color: @secondary;
            }
          }
          &.active{
            a{
              color: @secondary;
            }
          }
        }
      }
    }
    &.langSwitcher{
      ul{
        list-style: none;
        li{
          padding-right: 15px;
          border-right: 1px solid #ddd;
          a{}
        }
      }
    }
  }
}
main{
  background-color: #fff;
  position: relative;
  z-index: 2;
}
section{}
footer{
  &:before{
    content: '';
    width: 836px;
    height: 306px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/bl-nodes.png") no-repeat bottom left;
    opacity: .2;
    @media(max-width: 959px){
      opacity: .1;
    }
  }
  div{
    &.logo{
      svg{
        circle{
          fill: @primary;
        }
        path{
          stroke: #fff;
        }
      }
    }
    &.menu{
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        li{
          display: inline-block;
          a{
            font-size: 14px;
            display: inline-block;
            color: #eee;
            padding: 0 15px;
            font-weight: 300;
            text-decoration: none;
            .font;
            &:hover{
              color: #fff;
            }
          }
        }
      }
    }
    &.socials{
      a{
        color: #eee;
        &:hover{
          color: #fff;
        }
      }
    }
    &.copyright{
      color: #ddd;
      a{
        text-decoration: none;
        color: #ddd;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
.blogImagePlaceholder{
  svg{
    circle{
      fill: #f8f8f8;
    }
    path{
      stroke: #ccc;
    }
  }
}
.grecaptcha-badge{z-index: 3;}
.formError{.font;font-size: 12px; color: @danger;}
.formNoError{display: none;}
.regForm{
  fieldset{
    border: 0;
    outline: none;
  }
  label{
    .font;
    strong{
      color: @danger;
      margin: 0 5px;
      font-weight: 700;
    }
  }
  input,select,textarea{
      color: #222;
      padding: 5px 8px;
      .transition;
      &:focus{
        border-color: @secondary;
        .box-shadow(0 0 0 1px @secondary);
      }
  }
}
.uk-select{
  &:not([multiple]){
    &:not([size]){
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmklEQVQ4T83TuRHCMBSE4c9NQE7GUQRHByQUQF0UQEIHHEUAIQVQBfNm7BkhLAIcYMW7/75LlY6v6ujXL8AOI2zwLLQ2wB4PbEOTtnDGHDcsWyBhPmGKCxY5IARHzFogw9o8wRWrJiAfYgq515VEUCR/mPMKmrZzSISM8+RGXFpjCgntW9npgL/dQUAOtXhd2ky/Dumnb/H/Fl49ax0R15VW+AAAAABJRU5ErkJggg==);
      background-position: 13px 13px;
    }
  }
}
//UIKit Overrides
.uk-background-primary{
  background-color: @primary;
}
.uk-background-secondary{
  background-color: @secondary;
}
.introText{
  p{
    &:last-child,
    &:only-child{
      margin-bottom: 0;
    }
  }
}
.uk-pagination{
  li{
    span,a{
      .font;
    }
    span{
      color: #ccc;
    }
    a{
      color: #222;
      &:hover{
        color: @secondary;
      }
    }
  }
}
.uk-button{
  &.uk-button-primary{
    background-color: darken(@primary, 10%);
    &:hover{
      background-color: darken(@primary, 15%);
    }
    &:focus{
      background-color: darken(@primary, 20%);
    }
    &.uk-button-reverse{
      &:hover{
        background-color: @secondary;
      }
      &:focus{
        background-color: darken(@secondary, 5%);
      }
    }
  }
  &.uk-button-secondary{
    background-color: @secondary;
    &:hover{
      background-color: darken(@secondary, 5%);
    }
    &:focus{
      background-color: darken(@secondary, 10%);
    }
  }
  &.uk-button-instagram{
    background-color: #e1306c;
    border: 1px solid darken(#e1306c, 5%);
    color: #fff;
    &:hover{
      background-color: darken(#e1306c, 5%);
    }
  }
  &.uk-button-facebook{
    background-color: #3b5998;
    border: 1px solid darken(#3b5998, 5%);
    color: #fff;
    &:hover{
      background-color: darken(#3b5998, 5%);
    }
  }
  &.uk-button-telegram{
    background-color: #179cde;
    border: 1px solid darken(#179cde, 5%);
    color: #fff;
    &:hover{
      background-color: darken(#179cde, 5%);
    }
  }
  &.uk-button-whatsapp{
    background-color: #128c7e;
    border: 1px solid darken(#128c7e, 5%);
    color: #fff;
    &:hover{
      background-color: darken(#128c7e, 5%);
    }
  }
  &.uk-button-twitter{
    background-color: #1da1f2;
    border: 1px solid darken(#1da1f2, 5%);
    color: #fff;
    &:hover{
      background-color: darken(#1da1f2, 5%);
    }
  }
}